body {
    background-color: red;
    font-family: 'Bahnschrift';
}

section {
    background-color: #d9d9d9;
    margin-inline: 20%;

}


#logo {
    display: flex;
    justify-content: center;
    margin-inline: 600px;
    border-radius: 50px;
    transition: transform 0.4s, background-color 0.4s, box-shadow 0.4s, filter 0.5s;
}

#logo:hover {
    transform: scale(0.9);
    cursor: grabbing;
    box-shadow: 10px 10px 1px #00000025;
    filter:brightness();
}

.titulo {
    display: flex;
    justify-content: center;
    font-size: 70px;
    font-weight: bolder;
}

.line {
    background-color: #d9d9d9;
    margin-block: 30px;
    font-size: 0.6px;
    margin-inline: 10%;
}

article {
    margin-inline: 80px;
    text-align: justify;
    font-size: larger;
}