<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events - Knockout Zone</title>
    <link rel="stylesheet" href="css/events.css">
</head>
<body>
    <div>
        <header>
            <nav>
                <a href="index.html" class="logo-container">
                    <img class="logo-container" src="../resources/images/logolight.png" alt="Knockout Zone Logo">
                </a>
                <ul class="nav-list">
                    <li><a href="vlogin.php">STORE</a></li>
                    <li><a href="vlogin.php">FORUM</a></li>
                    <li class="current">EVENTS</li>
                    <li><a href="vlogin.php">FIGHTERS</a></li>
                    <li><a href="vlogin.php">RANKING</a></li>
                </ul>
                <a href="profile.php" class="login-button">USER</a>
            </nav>
        </header>
        <img class="poster" src="https://ufc.com/images/styles/background_image_xl_2x/s3/2025-04/051025-ufc-315-muhammad-vs-della-maddalena-EVENT-ART.jpg?h=d1cb525d&itok=DZNZm237" alt="Event Poster">
        <div class="title">UPCOMING EVENTS</div>
        <hr>
        <article>
            <section>
                <img src="" alt="">
                <aside></aside>
                <aside>
                    <a href=""></a>
                </aside>
            </section>
            <section>
                <img src="" alt="">
                <aside></aside>
                <aside>
                    <a href=""></a>
                </aside>
            </section>
            <section>
                <img src="" alt="">
                <aside></aside>
                <aside>
                    <a href=""></a>
                </aside>
            </section>
            <section>
                <img src="" alt="">
                <aside></aside>
                <aside>
                    <a href=""></a>
                </aside>
            </section>
        </article>
    </div>
</body>
</html>