<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fighters - Knockout Zone</title>
    <link rel="stylesheet" href="css/fighters.css">
    <link rel="shortcut icon" href="../resources/images/logolightbig.png" type="image/x-icon" sizes="16x16">
</head>

<body>
    <div>
        <header>
            <nav>
                <a href="home.html" class="logo-container">
                    <img class="logo-container" src="../resources/images/logolight.png" alt="Knockout Zone Logo">
                </a>
                <ul class="nav-list">
                    <li><a href="store.html">STORE</a></li>
                    <li><a href="forum.html">FORUM</a></li>
                    <li><a href="events.html">EVENTS</a></li>
                    <li class="current">FIGHTERS</li>
                </ul>
                <a href="profile.php" class="login-button">
                    <img src="../resources/profiles/default-profile.png" alt="Default Profile Picture">
                </a>
            </nav>
        </header>
        <hr>
        <div class="banner">
            <h2>FIGHTERS</h2>
            <hr>
            <p>Explore the profiles of your favorite fighters!</p>
        </div>
        <hr>
        <article class="fighter-profiles">
            <section class="fighter-profile">
                <img src="https://ufc.com/images/styles/inline/s3/2025-01/5/PANTOJA_ALEXANDRE_BELT_12-07.png?itok=bTsTyR7B"
                    alt="Fighter 1">
                <div class="profile-header">
                    <sup>"THE CANNIBAL"</sup>
                    <h2>ALEXANDRE PANTOJA</h2>
                    <sub>Last fight - DEC 7, 2024</sub>
                    <button class="show">More info</button>
                </div>
                <div class="fighter-info">
                    <p>Alexandre Pantoja Passidomo (born April 16, 1990) is a Brazilian professional mixed martial
                        artist. He currently competes in the flyweight division of the Ultimate Fighting Championship
                        (UFC), where he is the current UFC Flyweight Champion.
                    <p>He is a former Shooto Brazil Flyweight Champion and has also competed in the Ultimate Fighter
                        Brazil 3, where he was a finalist. Pantoja is known for his aggressive grappling style and
                        striking ability.</p>
                    <hr>
                    <h1>FIGHT RECORD</h1>
                    <div class="fighter-stats">
                        <div class="stat">
                            <h3>WINS </h3>
                            <p><i>KNOCKOUT</i></p>
                            <h2>8</h2>
                            <p> <i>SUBMISSION</i></p>
                            <h2>11</h2>
                            <p><i>DECISION</i></p>
                            <h2>10</h2>
                        </div>
                        <div class="stat">
                            <h3>LOSSES</h3>
                            <p><i>KNOCKOUT</i></p>
                            <h2>0</h2>
                            <p><i>SUBMISSION</i></p>
                            <h2>0</h2>
                            <p><i>DECISION</i></p>
                            <h2>5</h2>
                        </div>
                        <div class="stat">
                            <h3>TOTAL</h3>
                            <p><i>WINS</i></p>
                            <h2>29</h2>
                            <p><i>LOSSES</i></p>
                            <h2>5</h2>
                        </div>
                    </div>
            </section>
            <section class="fighter-profile">
                <img src="https://ufc.com/images/styles/inline/s3/2025-01/7/DVALISHVILI_MERAB_BELT_01-18.png?itok=kgA94-k1"
                    alt="Fighter 1">
                <div class="profile-header">
                    <sup>"THE MACHINE"</sup>
                    <h2>MERAB DVALISHVILI</h2>
                    <sub>Last fight - JAN 18, 2025</sub>
                    <button class="show">More info</button>
                </div>
                <div class="fighter-info">
                    <p>
                        Merab Dvalishvili (born January 10, 1991) is a
                        Georgian and American professional mixed martial artist. He currently competes in the
                        Bantamweight division of the Ultimate Fighting Championship (UFC), where he is the current UFC
                        Bantamweight Champion.
                    </p>
                    <p>
                        Dvalishvili is the second Georgian to win a UFC title after Ilia Topuria.
                    </p>
                    <hr>
                    <h1>FIGHT RECORD</h1>
                    <div class="fighter-stats">
                        <div class="stat">
                            <h3>WINS </h3>
                            <p><i>KNOCKOUT</i></p>
                            <h2>3</h2>
                            <p> <i>SUBMISSION</i></p>
                            <h2>1</h2>
                            <p><i>DECISION</i></p>
                            <h2>15</h2>
                        </div>
                        <div class="stat">
                            <h3>LOSSES</h3>
                            <p><i>KNOCKOUT</i></p>
                            <h2>0</h2>
                            <p><i>SUBMISSION</i></p>
                            <h2>1</h2>
                            <p><i>DECISION</i></p>
                            <h2>3</h2>
                        </div>
                        <div class="stat">
                            <h3>TOTAL</h3>
                            <p><i>WINS</i></p>
                            <h2>19</h2>
                            <p><i>LOSSES</i></p>
                            <h2>4</h2>
                        </div>
                    </div>
            </section>
            <section class="fighter-profile">
                <img src="https://ufc.com/images/styles/inline/s3/2024-02/VOLKANOVSKI_ALEXANDER_BELT_02-17.png?itok=JL7vKt3v"
                    alt="Fighter 1">
                <div class="profile-header">
                    <sup>"THE GREAT"</sup>
                    <h2>ALEXANDER VOLKANOVSKI</h2>
                    <sub>Last fight - APR 12, 2025</sub>
                    <button class="show">More info</button>
                </div>
                <div class="fighter-info">
                    <p>
                        Alexander Volkanovski (born September 29, 1988) is an Australian professional mixed martial
                        artist.
                    </p>
                    <p>He currently competes in the Featherweight division of the Ultimate Fighting
                        Championship (UFC), where he is the current UFC Featherweight Champion. Volkanovski is known for
                        his striking ability and grappling skills.
                    </p>
                    <hr>
                    <h1>FIGHT RECORD</h1>
                    <div class="fighter-stats">
                        <div class="stat">
                            <h3>WINS </h3>
                            <p><i>KNOCKOUT</i></p>
                            <h2>13</h2>
                            <p><i>SUBMISSION</i></p>
                            <h2>3</h2>
                            <p><i>DECISION</i></p>
                            <h2>11</h2>
                        </div>
                        <div class="stat">
                            <h3>LOSSES</h3>
                            <p><i>KNOCKOUT</i></p>
                            <h2>3</h2>
                            <p><i>SUBMISSION</i></p>
                            <h2>0</h2>
                            <p><i>DECISION</i></p>
                            <h2>1</h2>
                        </div>
                        <div class="stat">
                            <h3>TOTAL</h3>
                            <p><i>WINS</i></p>
                            <h2>27</h2>
                            <p><i>LOSSES</i></p>
                            <h2>4</h2>
                        </div>
                    </div>
            </section>
        </article>
        <footer>
            <div>
                <h3>KNOCKOUT ZONE</h3>
                <p><a href="aboutus.html">About us</a></p>
            </div>
            <div>
                <h3>SOCIAL MEDIA</h3>
                <p>Facebook</p>
                <p>Instagram</p>
                <p>X</p>
            </div>
            <div>
                <h3>HELP</h3>
                <p>Email</p>
            </div>
        </footer>
    </div>
    <script src="js/fighters.js"></script>
</body>

</html>