<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum - Knockout Zone</title>
    <link rel="stylesheet" href="css/forum.css">
</head>

<body>
    <div>
        <header>
            <nav>
                <a href="index.html" class="logo-container">
                    <img class="logo-container" src="../resources/images/logolight.png" alt="Knockout Zone Logo">
                </a>
                <ul class="nav-list">
                    <li><a href="store.html">STORE</a></li>
                    <li class="current">FORUM</a></li>
                    <li><a href="events.html">EVENTS</a></li>
                    <li><a href="fighters.html">FIGHTERS</a></li>
                    <li><a href="ranking.html">RANKING</a></li>
                </ul>
                <a href="profile.php" class="login-button">
                    <img src="../resources/profiles/default-profile.png" alt="Default Profile Picture">
                </a>
            </nav>
        </header>
        <hr>
        <div class="banner">
            <h2>COMMUNITY FORUM</h2>
            <hr>
            <p>Join the discussion and connect with fellow fans!</p>
        </div>
        <hr>
        <article class="forum-posts">
            <section class="forum-post">
                <a href="#">
                    <div class="forum-header">
                        <img src="../resources/profiles/default-profile.png" alt="User Profile">
                        <span class="timestamp">Posted on May 12, 2025, at 10:30 AM</span>
                    </div>
                    <div class="forum-info">
                        <h3 class="username">JohnDoe123</h3>&nbsp;
                        <hr>
                        <p class="post-content">What are your thoughts on the upcoming UFC 315 event? I'm super excited
                            to see Muhammad vs. Maddalena!</p>
                    </div>
                </a>
            </section>
            <section class="forum-post">
                <a href="#">
                    <div class="forum-header">
                        <img src="../resources/profiles/default-profile.png" alt="User Profile">
                        <span class="timestamp">Posted on May 11, 2025, at 9:15 PM</span>
                    </div>
                    <div class="forum-info">
                        <h3 class="username">FightFan99</h3>&nbsp;
                        <hr>
                        <p class="post-content">I can't wait for the Pantoja vs. Asakura fight! Who do you think will win?</p>
                    </div>
                </a>
            </section>
        </article>
    </div>
</body>

</html>