<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Knockout Zone</title>
    <link rel="stylesheet"href="viewcss/knockouthome.css">
</head>

<body>
    <div>
        <header>
            <nav>
                <a href="#" id="logo">
                    <img id="logo" src="../images/logo.png" alt="Home">
                </a>
                <ul class="navul">
                    <li class="navli"><a href="#" class="nava">STORE</a></li>
                </ul>
                <ul class="navul">
                    <li class="navli"><a href="#" class="nava">FORUM</a></li>
                </ul>
                <ul class="navul">
                    <li class="navli"><a href="#" class="nava">RANKING</a></li>
                </ul>
                <ul class="navul">
                    <li class="navli"><a href="#" class="nava">FIGHTERS</a></li>
                </ul>
                <ul class="navul">
                    <li class="navli"><a href="knockoutevents.html" class="nava">EVENTS</a></li>
                </ul>
                <ul class="navul">
                    <li class="navli">
                            <a href="profile.php" class="nava">
                                PROFILE
                            </a>
                    </li>
                </ul>
            </nav>
        </header>
        <div>
            <video src="../images/clip/knockoutclip ‐ Hecho con Clipchamp.mp4" loop autoplay muted poster="../images/evento.jpg"/>
        </div>
        <div class="titulo">TRENDING</div>
        <article>
            <section class="topics">
                <div></div>
                <a href="knockoutevents.html">
                    <div class="longtopic">
                        <img src="../images/pantojasakura.jpg" alt="Pantoja vs Asakura">
                        <div class="desc">
                            <p class="topictype">EVENTS</p>
                            PANTOJA VS. ASAKURA
                            <div class="topicdesc">JAPÓN A LA CAZA DEL ORO</div>
                        </div>
                    </div>
                </a>
                <div>
                    <a href="knockoutevents.html">
                        <img src="../images/adesanyaclip.jpg" class="cliptopic" alt="Adesanya">
                    </a>
                </div>
                <div>
                    <a href="knockoutevents.html">
                        <img src="../images/adesanyaclip.jpg" class="cliptopic" alt="Adesanya">
                    </a>
                </div>
            </section>

            <section class="topics">
                <div>
                    <a href="knockoutevents.html">
                        <img src="../images/kattarclip.jpg" class="cliptopic" alt="UFC Vegas Kattar">
                    </a>
                </div>
                <a href="knockoutevents.html">
                    <div class="longtopic">
                        <img src="../images/dircusevent2.jpg" alt="Dircus">
                        <div class="desc">
                            <p class="topictype">EVENTS</p>
                            DIRCUS DU PLESSIS
                            <div class="topicdesc">¿SÚPER PELEA A LA VISTA?</div>
                        </div>
                    </div>
                </a>
                <div>
                    <a href="knockoutevents.html">
                        <img src="../images/adesanyaclip.jpg" class="cliptopic" alt="Adesanya">
                    </a>
                </div>
            </section>
        </article>
        <div class="titulo">DISCOVER</div>
        <article>
            <section class="topics">

                <section class="topics">
                    <div>
                        <a href="knockoutevents.html">
                            <img src="../images/kattarclip.jpg" class="cliptopic" alt="UFC Vegas Kattar">
                        </a>
                    </div>
                    <div>
                        <a href="knockoutevents.html">
                            <img src="../images/adesanyaclip.jpg" class="cliptopic" alt="Adesanya">
                        </a>
                    </div>
                </section>
            </section>
        </article>
        <footer>
            <li>
                <aside>
                    <p align="center">SOCIALS</p>
                    <a href="#">
                        <img src="../images/twitter.png" class="socials">
                    </a><a href="#">
                        <img src="../images/twitch.png" class="socials">
                    </a><a href="#">
                        <img src="../images/instagram.png" class="socials">
                    </a>
                </aside>
            </li>
            <li>
                <a href="#">
                    <img src="../images/logo.png" id="logofoot" alt="Logo" style="margin-left: 100px">
                </a>
            </li>
            <li><a href="knockoutaboutus.html" class="footera">ABOUT US</a>
                <a href="#" class="footera">CONTACT US</a>
            </li>

        </footer>
    </div>
</body>

</html>