<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Knockout Zone</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="shortcut icon" href="../resources/images/logolightbig.png" type="image/x-icon" sizes="16x16">
</head>

<body>
    <div>
        <header>
            <nav>
                <a href="#" class="logo-container">
                    <img class="logo-container" src="../resources/images/logolight.png" alt="Knockout Zone Logo">
                </a>
                <ul class="nav-list">
                    <li><a href="vlogin.php">STORE</a></li>
                    <li><a href="vlogin.php">FORUM</a></li>
                    <li><a href="vlogin.php">EVENTS</a></li>
                    <li><a href="vlogin.php">FIGHTERS</a></li>
                </ul>
                <a href="vlogin.php" class="login-button">LOGIN</a>
            </nav>
        </header>
                <video src="../resources/videos/knockoutclip ‐ Hecho con Clipchamp.mp4" loop autoplay muted poster="../resources/images/evento.jpg"></video>
        <div class="title">DISCOVER</div>
        <hr>
        <article>
            <section>
                <a href="vlogin.php">
                    <img src="../resources/images/jiripeleador.jpg" alt="">
                    <hr>
                    <h3>WATCH & ENJOY</h3>
                    <h2>UFC EVENTS ON LIVE</h2>
                </a>
            </section>
            <section>
                <a href="vlogin.php">
                    <img src="../resources/images/pantojasakura.jpg" alt="">
                    <hr>
                    <h3>EVENT</h3>
                    <h2>PANTOJA VS. ASAKURA</h2>
                    <span>Japan on the hunt for Gold</span>
                </a>
            </section>
            <aside>
                <section>
                    <a href="vlogin.php">
                        <img src="../resources/images/kattarclip.jpg" alt="">
                        <hr>
                        <h3>EVENT</h3>
                        <h2>UFC VEGAS 102 KATTAR</h2>
                        <span></span>
                    </a>
                </section>
                <section>
                    <a href="vlogin.php">
                        <img src="../resources/images/dircusevent2.jpg" alt="">
                        <hr>
                        <h3>EVENT</h3>
                        <h2>DIRCUS DU PLESSIS</h2>
                        <span>Super fight on sight?</span>
                    </a>
                </section>
            </aside>
            <section>
                <a href="vlogin.php">
                    <img src="../resources/images/kattarclip.jpg" alt="">
                    <hr>
                    <h3>RANKING</h3>
                    <h2>[PLACEHOLDER]</h2>
                    <span>[PLACEHOLDER]</span>
                </a>
            </section>
            <aside>
                <section>
                    <a href="vlogin.php">
                        <img src="../resources/images/kattarclip.jpg" alt="">
                        <hr>
                        <h3>FORUM</h3>
                        <h2>[PLACEHOLDER]</h2>
                        <span></span>
                    </a>
                </section>
                <section>
                    <a href="vlogin.php">
                        <img src="../resources/images/dircusevent2.jpg" alt="">
                        <hr>
                        <h3>FORUM</h3>
                        <h2>[PLACEHOLDER]</h2>
                        <span>[PLACEHOLDER]</span>
                    </a>
                </section>
            </aside>
            <section>
                <a href="vlogin.php">
                    <img src="../resources/images/adesanyaclip.jpg" alt="">
                    <hr>
                    <h3>STORE</h3>
                    <h2>[PLACEHOLDER]</h2>
                    <span>[PLACEHOLDER]</span>
                </a>
            </section>
            <section>
                <a href="vlogin.php">
                    <img src="../resources/images/dircusevent.jpg" alt="">
                    <hr>
                    <h3>FIGHTERS</h3>
                    <h2>[PLACEHOLDER]</h2>
                    <span>[PLACEHOLDER]</span>
                </a>
            </section>
        </article>
        <footer>
            <div>
                <h3>KNOCKOUT ZONE</h3>
                <p><a href="aboutus.html">About us</a></p>
            </div>
            <div>
                <h3>SOCIAL MEDIA</h3>
                <p>Facebook</p>
                <p>Instagram</p>
                <p>X</p>
            </div>
            <div>
                <h3>HELP</h3>
                <p>Email</p>
            </div>
        </footer>
    </div>
</body>
</html>