<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knockout Zone - About Us</title>
    <link rel="stylesheet" href="viewcss/knockoutaboutus.css">
</head>

<body>
    <div>
        <a href="knockouthome.html" id="logo"><img src="../images/logo.png" alt="Home"></a>
        <div class="titulo">ABOUT US</div>
        <div class="line">-</div>
        <section>
            <article>
                a
            </article>
        </section>
    </div>
</body>

</html>