<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Knockout Zone</title>
    <link rel="stylesheet"href="knockouthome.css">
</head>

<body>
    <div>
        <header>
            <nav>
                <a href="#" id="logo">
                    <img id="logo" src="../images/logo.png" alt="Home">
                </a>
                <ul class="navul">
                    <li class="navli"><a href="#" class="nava">TIENDA</a></li>
                    <li class="navli"><a href="#" class="nava">FORO</a></li>
                    <li class="navli"><a href="#" class="nava">RANKING</a></li>
                    <li class="navli"><a href="#" class="nava">PELEADORES</a></li>
                    <li class="navli"><a href="#" class="nava">EVENTOS</a></li>
                </ul>

                <ul class="navul">
                    <li class="navli">
                        <div id="buscar">
                            <button class="dropbtn">
                                <img src="https://icon-library.com/../images/icon-menu/icon-menu-6.jpg" alt="dropdown">
                            </button>
                            <div id="dropdown-content">
                            <a href="#" class="nava">
                                <img src="../images/search.png" alt="Buscar" style="width:60px; margin-left: -46px;">BUSCAR
                            </a>
                            <a href="knockoutlogin.html" class="nava">
                                <img src="../images/user.png" alt="user" style="width:42px; margin-left: -40px;">
                                LOGIN
                            </a>
                        </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        <div>
            <img src="../images/evento.jpg" id="evento" alt="Main Imagen">
        </div>
        <div class="titulo">TRENDING</div>
        <article>
            <section class="topics">
                <div></div>
                <a href="#">
                    <div class="longtopic">
                        <img src="../images/pantojasakura.jpg" alt="Pantoja vs Asakura">
                        <div class="desc">
                            <p class="topictype">EVENTOS</p>
                            PANTOJA VS. ASAKURA
                            <div class="topicdesc">JAPÓN A LA CAZA DEL ORO</div>
                        </div>
                    </div>
                </a>
                <div>
                    <a href="#">
                        <img src="../images/adesanyaclip.jpg" class="cliptopic" alt="Adesanya">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="../images/adesanyaclip.jpg" class="cliptopic" alt="Adesanya">
                    </a>
                </div>
            </section>

            <section class="topics">
                <div>
                    <a href="#">
                        <img src="../images/kattarclip.jpg" class="cliptopic" alt="UFC Vegas Kattar">
                    </a>
                </div>
                <a href="#">
                    <div class="longtopic">
                        <div class="desc">
                            <p class="topictype">EVENTOS</p>
                            DIRCUS DU PLESSIS
                            <div class="topicdesc">¿SÚPER PELEA A LA VISTA?</div>
                        </div>
                        <img src="../images/dircusevent.jpg" alt="Dircus">
                    </div>
                </a>
                <div>
                    <a href="#">
                        <img src="../images/adesanyaclip.jpg" class="cliptopic" alt="Adesanya">
                    </a>
                </div>
            </section>
        </article>
        <div class="titulo">DESCUBRE</div>
        <article>
            <section class="topics">

                <section class="topics">
                    <div>
                        <a href="#">
                            <img src="../images/kattarclip.jpg" class="cliptopic" alt="UFC Vegas Kattar">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img src="../images/adesanyaclip.jpg" class="cliptopic" alt="Adesanya">
                        </a>
                    </div>
                    <a href="#">
                        <div class="longertopic">
                            <div class="desc">
                                <p class="topictype">PELEADORES</p>
                                JIŘÍ PROCHÁZKA
                                <div class="topicdesc">ENTRENANDO PARA UFC 303</div>
                            </div>
                            <img src="../images/jiripeleador.jpg" alt="Jiri">
                        </div>
                    </a>
                </section>
            </section>
        </article>
        <footer>
            <li>
                <aside>
                    <p align="center">REDES SOCIALES</p>
                    <a href="#">
                        <img src="../images/twitter.png" class="socials">
                    </a><a href="#">
                        <img src="../images/twitch.png" class="socials">
                    </a><a href="#">
                        <img src="../images/instagram.png" class="socials">
                    </a>
                </aside>
            </li>
            <li>
                <a href="#">
                    <img src="../images/logo.png" id="logofoot" alt="Logo" style="margin-left: 100px">
                </a>
            </li>
            <li><a href="#" class="footera">ABOUT US</a>
                <a href="#" class="footera">CONTÁCTANOS</a>
            </li>

        </footer>
    </div>
</body>

</html>