<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knockout Zone - About Us</title>
    <link rel="stylesheet" href="viewcss/knockoutaboutus.css">
</head>

<body>
    <div>
        <a href="#" id="logo"><img src="../images/logo.png" alt="Home"></a>
        <div class="titulo">ABOUT US</div>
        <div class="line">-</div>
        <section>
            <article>
                <p>NIGGER KnockOut Zone, and we’ve been bringing UFC fans closer to the sport since 2025.</p>
                
                <p>Our website is about streaming UFC combat events, providing trending content and news for fans of the sport, and selling tickets for upcoming fights.</p>
                
                <p>Because we love martial arts and adrenaline of high level competition like UFC that combines skills, strategy and athleticism, making it one of the most exciting sports in the world. Through our website, we aim to share our passion by providing an interactive experience for fans.</p>

                <p>We would like to share UFC Combat events to make them more visible for everyone and make people like it, because sharing our passion into the UFC can be amazing.</p>

                <p>We also want to improve the website by adding live fight updates, simple stats, a forum for fans to talk, a timeline with fighter history, fun quizzes, videos of the best moments, and an easy way to buy tickets.</p>
                
            </article>
        </section>
    </div>
</body>

</html>