<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in Admin - Knockout Zone</title>
    <link rel="stylesheet" href="viewcss/knockoutsignadmin.css">
</head>

<body>
    <div class="container">
        <a href="knockouthome.html" id="logo">
            <img id="logo" src="../images/logo.png" alt="Home">
        </a>
        <form action="knockoutsignadmin.php" method="post">
            <input type="hidden" name="register" value="1">
            <label for="user">User</label>
            <input type="text" name="user" id="user" placeholder="admin_mcadmin">

            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="admin@email.com">

            <label for="password">Password</label>
            <input type="text" name="password" id="password" placeholder="123ABC..">
            <div class="link">
                Got an account? <a href="knockoutlogin.html">Log in!</a> 
            </div>
            <input type="submit" value="Register as Admin">
        </form>
    </div>
</body>

</html>